{% load static %}

<html>
<head>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
 <!-- <style>
</style> -->
</head>

<body>

<h1 class="ex">Example of Formatting tags</h1>

<h4>this text has <b>subtext</b> using b tag</h4>
<h4>this text has <strong>subtext</strong> using strong tag</h4>
<h4>this text has <i>subtext</i> using i tag</h4>
<h4>this text has <em>subtext</em> using emphasize tag</h4>
<h4>this text has <small>subtext</small> using small tag</h4>
<h4>this text has <mark>subtext</mark>using mark tag</h4>
<h4>this text has <del>subtext</del>using del tag</h4>
<h4>this text has <ins>subtext</ins>using ins tag</h4>
<h4>this text has X<sub>subtext</sub>using sub tag</h4>
<h4>this text has X<sup>subtext</sup>using sup tag</h4>

</body>
</html>