<!DOCTYPE html>
<html>
<style>
#line1 {
    background-color: aquamarine;
    color: red;
    display: block;
    text-align:center;
    
}

#line2{
    background-color:gray ;
    color:yellow;
    display:block;
    text-align:center;

}

#line3{
    background-color: black;
    color: white;
    display:block;
    text-align:center;
}

</style>

<body>
<a href="https://qu.edu.sa" id="line1" target="_blank">Go to QU website(open a new tap)</a>
<a href="https://qu.edu.sa" id="line2" target="_self">Go to QU website(open in the same page/tab)</a>
<a href="https://qu.edu.sa" id="line3" target="_parent">Go to QU website(open in the same page/tab)</a>

</body>

</html>